# Arquivos e Pastas a serem ignorados pelo Git

# Ambientes Virtuais (não envia o venv para o Git)
amer/
.venv/
venv/
__pycache__
*.pyc

# Arquivos de Evidência e Relatórios (Grandes e Gerados)
logs/
allure-report/
artifacts/
report_allure/
allure-results/  
*.png            
*.mp4            
# Configurações Locais
.pytest_cache/
.DS_Store
